html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

}


.text{
  font-size: 2rem;
  text-align: center;
  box-sizing: content-box;
  background-color: #ffffff;
  width: 300px;
  box-shadow: 1px 1px 1px rgb(173, 173, 173);}
.btn,
.btn:link,
.btn:visited {
  padding: 2rem;
  display: inline-block;
  margin: 1rem auto;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(173, 173, 173, 0.2);}


