html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;

}
.body{
  background-color: rgb(173, 173, 173);
}
.textcolor{
  background-color: rgb(255, 255, 255);
}
.ygo2{
 padding: 15rem;
 width: 70rem;
 border-radius: 50rem;
}
.select{
  position: absolute;
  top: 0;
  left: 0;
}
.ygo{
  max-height: 20px;
  max-width: 20rem;
 margin-left: 60rem;
}
#text{
  font-size: 1rem;
  text-align: center;
  box-sizing: content-box;
  color:  rgb(255, 247, 237);
  background-color: rgb(106, 106, 106);
  width: 500px;
  border-radius: 1rem;}
.btn{
  height: 30px;
  padding: 7px 24px;
  margin: 1rem auto;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;

}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0.5rem rgba(173, 173, 173, 0.2);}


